<header>
    <div class="nav-flex-container">
        <menu>
           <li><a href="">&#124;&gt;Code Desk</a></li> 
        </menu>
        <nav>
          <ul>
            <li><a href="">about</a></li>
            <li><a href="">contact</a></li>
            <li><a href="">blog</a></li>
            <li><a href="">work</a></li>
          </ul>
        </nav>
        <menu>
            <!-- Theme options here  -->
            <li><a href="">&#9679;</a></li>
        </menu>
    </div>
    <h1><a href="">Code Bebop</a></h1>
</header>