<%= erb :'partials/header' %>
<main>
  <section id="blog-header">
   <div id="blog-top"><h1>//Blog</h1></div>
   <div id="blog-categories">
    <select name="categories">
        <option value="">Category</option>
        <option value="">Life</option>
        <option value="">Code</option>
        <option value="">Art</option>
        <option value="">Design</option>
    </select>
        <select name="tags">
        <option value="">Tags</option>
        <option value="">Python</option>
        <option value="">Ruby</option>
        <option value="">JavaScript</option>
        <option value="">CSS</option>
        <option value="">PhotoShop</option>
        <option value="">Animate</option>
        <option value="">Illustrator</option>
        <option value="">Sketches</option>
        <option value="">Illustration</option>
        <option value="">Paintings</option>
        <option value="">Oil Pastel</option>
        <option value="">Nim</option>
        <option value="">Hypermedia</option>
        <option value="">C++</option>
        <option value="">ColdFusion</option>
        <option value="">PHP</option>
        <option value="">Go</option>
        <option value="">Swift</option>
        <option value="">Kotlin</option>
        <option value="">Flask</option>
        <option value="">FastAPI</option>
        <option value="">Tornado</option>
        <option value="">Bottle</option>
         <option value="">Sinatra</option>
        <option value="">xD</option>
    </select>
   </div>
  </section>
  <section id="blog">
    <article>
      <div class="posts-header">  
         <h3><a href="/blog/post/test">WORKING ON CODESCAPE</a></h3>
         <p>6.27.24</p>
      </div> 
      <h3>WEB</h3>
       <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis blandit luctus pharetra. Morbi tristique ex sed metus 
        dignissim porttitor. Mauris in dolor urna. Sed eu hendrerit mi. Fusce purus erat, auctor vitae eleifend nec, porta 
        non odio. Nunc eget ligula sit amet tortor semper porta. Mauris ornare 
       </p>
       <ul>
         <li><a href="">READ MORE</a></li><li>NO.1</li>
       </ul>
    </article>
    <article>
      <div class="posts-header">  
         <h3><a href="">WORKING ON CODESCAPE</a></h3>
         <p>6.27.24</p>
      </div> 
      <h3>WEB</h3>
       <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis blandit luctus pharetra. Morbi tristique ex sed metus 
        dignissim porttitor. Mauris in dolor urna. Sed eu hendrerit mi. Fusce purus erat, auctor vitae eleifend nec, porta 
        non odio. Nunc eget ligula sit amet tortor semper porta. Mauris ornare 
       </p>
       <ul>
         <li><a href="">READ MORE</a></li><li>N0.3</li>
       </ul>
    </article>
    <article>
      <div class="posts-header">  
         <h3><a href="">WORKING ON CODESCAPE</a></h3>
         <p>6.27.24</p>
      </div>
       <h3>WEB</h3> 
       <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis blandit luctus pharetra. Morbi tristique ex sed metus 
        dignissim porttitor. Mauris in dolor urna. Sed eu hendrerit mi. Fusce purus erat, auctor vitae eleifend nec, porta 
        non odio. Nunc eget ligula sit amet tortor semper porta. Mauris ornare 
       </p>
       <ul>
         <li><a href="">READ MORE</a></li><li>NO.21</li>
       </ul>
    </article>
    <article>
      <div class="posts-header">  
         <h3><a href="">WORKING ON CODESCAPE</a></h3>
         <p>6.27.24</p>
      </div> 
       <h3>WEB</h3>
       <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis blandit luctus pharetra. Morbi tristique ex sed metus 
        dignissim porttitor. Mauris in dolor urna. Sed eu hendrerit mi. Fusce purus erat, auctor vitae eleifend nec, porta 
        non odio. Nunc eget ligula sit amet tortor semper porta. Mauris ornare 
       </p>
       <ul>
         <li><a href="">READ MORE</a></li><li>NO.4</li>
       </ul>
    </article>




  </section>




</main>
