<!DOCTYPE html>
<html lang="en">
   <head>
    <title>Code Bebop</title>
    <link rel="stylesheet" href="https://use.typekit.net/lcn8poq.css">
     <link href="/css/pulpfiction-light.css" rel="stylesheet">
   </head>
   <body>
    <%= yield %>
   </body>
 </html>   