<%= erb :'partials/header' %>
<section id="post">
    <h3>WORKING ON CODESCAPE</h3>
    <article>
      <div class="post-header">  
         <h3>WEB</h3>
         <p>6.27.24</p>
      </div> 
       <div class="post">  
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis blandit luctus pharetra. Morbi tristique ex sed metus 
            dignissim porttitor. Mauris in dolor urna. Sed eu hendrerit mi. Fusce purus erat, auctor vitae eleifend nec, porta 
            non odio. Nunc eget ligula sit amet tortor semper porta. Mauris ornare 
        </p>
      </div>   
    </article>
    <article>
       <div class="post-comments">
         <h3>//COMMENTS</h3>
          <div id="comment-flex">
            <div class="comment">
              <div>  
              <img src="/images/buddha.png" alt="">   
              <p>6.27.24</p>
            </div>
            <div>
                <p>
                 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis blandit luctus pharetra. Morbi tristique ex sed metus 
                 dignissim porttitor. Mauris in dolor urna. Sed eu hendrerit mi. Fusce purus erat, auctor vitae eleifend nec, porta 
                 non odio. Nunc eget ligula sit amet tortor semper porta. Mauris ornare 
                </p>
            </div>  
          </div> 
          <div class="comment">
              <div>  
              <img src="/images/buddha.png" alt="">   
              <p>6.27.24</p>
            </div>
            <div>
                <p>
                 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis blandit luctus pharetra. Morbi tristique ex sed metus 
                 dignissim porttitor. Mauris in dolor urna. Sed eu hendrerit mi. Fusce purus erat, auctor vitae eleifend nec, porta 
                 non odio. Nunc eget ligula sit amet tortor semper porta. Mauris ornare 
                </p>
            </div>  
          </div> 
         </div> 
       </div> 
    </article>
    <img src="/images/splat.png" alt="">
</section>