
/***** Pulp Fiction Theme 
*****  Author: CodeBebop(You know who it is)

-- Colors
red:    #D10B07
yellow: #FCBC2D
white : #fff
black: #000

-- Fonts 

Primary font
font-family: Americane, sans-serif;
font-weight: 400 - 900;

Secondary font
font-family: Adelle mono, monospace;
font-weight: 400 - 700;
font-style: normal;


*****
*/

:root {
--bodyText:  normal 400 1em "adelle-mono", monospace;
--primaryColor: #fff;
--secondaryColor: #FCBC2D;
--tertiaryColor: #D10B07;
--largeHeadingText: normal 900 3em "americane", sans-serif;
--bodyHeaderText: normal 900 1.4em "americane", sans-serif;
--headingMargins: 15px 0;
}

* {
padding: 0;
margin: 0;
}

html {
box-sizing: border-box;
scroll-behavior: smooth;   
}

body {
background: var(--tertiaryColor);  
}

header {
width: 100%;
height: 275px;
background: #D10B07;    
}

header h1 {
text-transform: uppercase;
text-align: center;  
}

header h1 a {
font: normal 900 5em "americane", sans-serif;
color: var(--secondaryColor); 
text-decoration: none;
}

.nav-flex-container {
display: flex;
flex-direction: row;
justify-content: space-between;
justify-items:flex-start;
width: 90%;
padding: 2% 0 1% 0;
margin: 0 auto;
}


menu li {
display: inline;    
list-style-type: none;
}

menu li a {
text-transform: uppercase;    
letter-spacing: 0.1pc;
font: normal 900 0.9em "americane", sans-serif;   
color: var(--secondaryColor);
text-decoration: none;
}

menu:last-of-type li {
display: block;
margin-top: -20px;
}
    
menu:last-of-type li a {
font-size: 3em;    
}

nav ul li {
display: inline;    
list-style-type: none;
padding-right: 50px;
}

nav ul li a {
text-transform: uppercase;
font: normal 400 1.2em "americane", sans-serif;
color: #000;
text-decoration: none;
}

nav ul li a:hover {
color: var(--secondaryColor);   
}

#masthead {
width: 100vw;
height: 50vh;
background-size: contain;
background: url('../images/masthead.jpg') no-repeat;  
background-position: top left; 
}

#masthead h1 {
text-align: center;    
color: #fff;
font: normal 500 1.6em "adelle-mono", monospace;   
padding-top: 25px;
}

#page-banner {
background: var(--secondaryColor);    
width: 100%;
height: 75px;  
overflow: hidden;  
}

#page-banner span {
display: block;  
padding-top: 15px; 
margin: 0 auto;  
text-transform: uppercase;
text-align: center;
font: normal 900 2.5em "americane", sans-serif;
color:#D10B07;
transform: translateX(-100%);
animation: scrollingAnimation 15s linear infinite;
}

main {
background:#D10B07;
width: 100%;
height: auto;    
}

#about-container {
width: 100%;
height: 800px; 
background: url('/images/splat.png');   
}

#about {
width: 75%;
margin: 0 auto;    
padding-top: 50px;
}

#about img {
display: block;    
margin: 0 auto;    
}

#about h3 {
font: var(--bodyHeaderText);    
color: var(--secondaryColor);  
margin: var(--headingMargins);  
}

#about p {
font: var(--bodyText);
color: var(--primaryColor);
line-height: 2.4em;
}

/* RECENT POST */

#recent-post-container {
width: 100%;
height: 500px;
margin: 0 auto;
padding-top: 50px;
}

#recent-post-header {
width: 100%;
height: 140px;
background: var(--secondaryColor);
}

#recent-post-header h3 {
font: normal 900 2em "americane", sans-serif;  
color: #000;  
margin: var(--headingMargins);
margin-left: 75px; 
padding-top: 25px; 
}

.post-flex {
display: flex;
flex-direction: row;
justify-content: space-evenly;
align-items: center;
height: 85px;
border-bottom: 1px solid var(--secondaryColor);
}

#recent-post-header .post-flex {
border-top: 1px solid rgb(0, 0, 0, 0.1) !important;
height: 40px;
}

.post-flex a {
text-decoration: none;
color: var(--secondaryColor);  
font: var(--bodyText);
display: block;
margin-right: 25px;
}

#recent-post-header .post-flex div:nth-child(-n+4) {
width: 25%;
padding: 25px 0 0 75px;
margin: 0 auto;
color: #000;  
font: var(--bodyText);
font-weight: bolder;
}

.post-flex div {
width: 25%;
padding-left: 85px;
margin: 0 auto;
color: var(--secondaryColor);  
font: var(--bodyText);
}

.item {
display: none;
}

footer {
background: var(--secondaryColor);  
padding: 2%;
width: 96%;  
}

#contact {
width: 100%;
height: 700px;
}

#contact h1 {
text-align: center;
font: var(--largeHeadingText);
color: var(--tertiaryColor);
margin-top: 35px;
}

#contact input::placeholder {
padding-left: 10px;
font: normal 400 1.8em "americane", sans-serif;  
color: var(--tertiaryColor);
text-transform: uppercase;
}

#contact input {
display: block;
width: 50%;
height: 45px;
background: transparent;
border-bottom: 1px solid var(--tertiaryColor);
border-top: none;
border-left: none;
border-right: none;
margin: 50px auto 0 auto;  
color: var(--tertiaryColor);
outline: transparent;
}

#contact textarea::placeholder {
padding-left: 10px;
font: normal 400 1.2em "americane", sans-serif;  
color: var(--tertiaryColor);
text-transform: uppercase;
}  

#contact textarea {
display: block;
margin: 50px auto 0 auto;
width: 50%;  
background: transparent;
font: normal 400 1.2em "americane", sans-serif;  
color: var(--tertiaryColor);
text-transform: uppercase;
border-bottom: 1px solid var(--tertiaryColor);
border-top: none;
border-left: none;
border-right: none;
resize: none;
outline: transparent;
}

#contact input[type='button'] {
display: block;
width: 50%;
height: 75px;
background: var(--tertiaryColor);
border: 1px solid var(--tertiaryColor);
color: var(--secondaryColor);
margin-top: 85px !important;
box-shadow:  0 8px 0 2px black;
cursor: pointer;
}

/* Blog */

#blog-header {
width: 100%;
height: 50px;
}

#blog-top {
background: var(--secondaryColor);
padding: 10px 0 0 85px;
height: 60px;
border: 1px solid #000;
}

#blog-top h1 {
font: normal 600 2.5em "americane", sans-serif; 
color: #000;
text-transform: uppercase;
}

#blog-categories {
display: flex;
flex-direction: row;
justify-content: end;
background: var(--tertiaryColor);
height: 75px;
border-bottom: 1px solid rgb(0, 0, 0, 0.2);
padding: 15px 0 0 0;
margin: 26px auto 0 auto;
width: 100%;
}

#blog-categories select {
background: var(--secondaryColor);  
border: 3px solid #000;
font: var(--bodyText);
font-weight: bolder;
width: 200px;
height: 45px;
margin-left: 15px;
}

#blog-categories select:nth-child(2) {
margin-right: 75px;
}

#blog {
margin: 12% auto 0 auto;
background: url('../images/splat.png');
width: 75%;
}

.posts-header {
display: flex;
flex-direction: row;
justify-content: space-between;  
}

.posts-header h3 a {
font: normal 600 2em "americane", sans-serif; 
color: var(--secondaryColor);
text-decoration: none;
}

.posts-header p {
font: normal 700 3em "americane", sans-serif; 
color: #000;
}

article {
padding-top: 25px;  
border-bottom: 1px solid var(--secondaryColor);
}

article h3:nth-child(even) {
font: normal 500 1.42em "americane", sans-serif;   
margin: -15px 0 25px 0;  
}

article p {
font: normal 100 0.8em "adelle-mono", monospace;
line-height: 2.3em;
color: var(--primaryColor);
}

article ul {
margin: 15px 0 50px 0;
}

article ul li {
display: inline;  
list-style-type: none;  
}

article ul li:first-of-type a {
display: inline;  
list-style-type: none;  
color: var(--primaryColor);
font: normal 400 1em "adelle-mono", monospace;
}

article ul li:last-child {
display: inline;  
list-style-type: none;  
color: var(--secondaryColor);
font: normal 400 1em "adelle-mono", monospace;
float: right;
}

/* Post */

#no {
color: var(--secondaryColor);
font: normal 400 10em "adelle-mono", monospace; 
}

#post {
width: 75%;
margin: 10% auto 0 auto;
}

#post h3 {
font: normal 600 2em "americane", sans-serif; 
color: var(--secondaryColor);
text-decoration: none;
margin-bottom: 0 !important;
}

.post {
padding-bottom: 5%;
}
  
.post-header {
display: flex;
flex-direction: row;
justify-content: space-between;  
margin-top: -25px !important;
padding-bottom: 1%;
}

.post-header h3 {
font: normal 200 1.42em "americane", sans-serif !important;   
margin: 0 0 25px 0;   
color: #000 !important;
}

.post-header p {
font: normal 700 3em "americane", sans-serif; 
color: #000;
}

.post-comments {
margin-top: 35px;
}

.post-comments h3 {
font-size: 1.4em !important;  
letter-spacing: 1px;
}

.comment {
border-bottom: 1px solid var(--secondaryColor);
}

.comment div {
display: flex;
flex-direction: row;
justify-content: space-between;  
margin: 35px 0;
}

.comment div p:nth-child(even) {
font: normal 900 1.2em "adelle-mono", monospace;  
color: #000;  
}

#comment-flex img {
width: 38px;
height: 38px;
border: 2px solid #fff;
border-radius: 15px;
}

/* resume */

#resume {
width: 70%;
height: auto;
margin: 3% auto 0 auto;
}


#resume header {
display: flex;
flex-direction: row;
justify-content: baseline;
justify-items: center;
width: 100%;
height: 200px;
padding: 0 !important;
margin: 0 !important;
}

#resume header h2 {
font: normal 600 3em "americane", sans-serif; 
color: var(--secondaryColor);
text-decoration: none;
margin: 0;
text-align: left;
}

#resume header p:first-of-type {
color: var(--primaryColor);
font: normal 400 1.3em "adelle-mono", monospace;
}

#resume header menu li img {
width: 18px;
height: 18px;  
margin-right: 15px;
}

#resume header menu li:nth-child(2) img {
width: 18px;
height: 12px;  
}

#resume header menu li:nth-child(3) img {
width: 14px;
height: 12px;  
}

#resume #identity {
width: 100%;
padding: 0 !important;
}

#resume header menu  {
width: 40%;
height: 120px;
padding: 0 !important;
margin: 25px  0 0 75px !important;
line-height: 0% !important;
}

#resume header menu li  {
display: block !important;
height: 40px;
margin: 0 !important;
}

#resume header menu li a {
color: var(--primaryColor);
font: normal 400 0.9em "adelle-mono", monospace;
}

#resume-flex {
display: flex;
flex-direction: row;
justify-content: space-evenly;

}  

#resume-flex main {
width: 70%;  
height: 800px;
padding: 0 5% 0 0;
}

#resume-flex article {
margin-bottom: 50px; 
border: none; 
}

#resume-flex article h4 {
font: normal 600 1em "adelle-mono", monospace; 
color: var(--secondaryColor);
letter-spacing: 0.1pc;
margin: 5px 0 10px 0;
} 

#resume-flex article p:first-of-type {
color: #000;
font: normal 700 1em "adelle-mono", monospace;
margin-bottom: 10px;
}

#resume-flex article p:last-of-type {
color: var(--primaryColor);
font: normal 400 0.8em "adelle-mono", monospace; 
line-height: 2em;
margin-bottom: 10px;
}

nav {
width: 25%; 
padding: 1%;
}

nav menu {
margin-bottom: 35px; 
height: auto; 
}

nav h4 {
font: normal 600 1em "adelle-mono", monospace; 
color: var(--secondaryColor);
margin-bottom: 15px;  
}


nav menu h4 {
font: normal 600 1em "adelle-mono", monospace; 
color: #000; 
margin-bottom: 15px;  
}

nav menu li {
display: block;  
color: var(--primaryColor); 
font: normal 800 0.8em "adelle-mono", monospace; 
margin-bottom: 10px;
}

nav menu:last-of-type li {
display: block;
margin-top: 0 !important;
}

@media(min-width: 2000px){
#resume {
width: 45%;
}

#resume header menu{
width: 40%;
}

#resume header menu li a {
font: normal 400 0.7em "adelle-mono", monospace;
}

#resume-flex main { 
width: 70%;
}

#resume-flex article h4 {
font: normal 900 1em "adelle-mono", monospace; 
}

#resume-flex article p:first-of-type {
font: normal 700 0.9em "adelle-mono", monospace;
}

#resume-flex article p:last-of-type {
font: normal 100 0.9em "adelle-mono", monospace;
line-height: 2.2em;
}
}

@media(max-width: 1600px){
#resume {
width: 95%;
}
#resume header menu  {
width: 40%;
} 
#resume header menu li a {
font: normal 400 0.8em "adelle-mono", monospace;
}

}

@media(max-width: 1024px){

#resume {
margin-top: 7%;
} 

#resume-flex {
display: flex;
flex-direction: column;
} 

#resume header {
display: flex;
flex-direction: column;
width: 100%;
height: 275px;
} 

#resume header menu  {
width: 100%;
margin: 50px 0 0 0 !important;
}

#resume-flex main {
width: 95%; 
height: auto; 
}

nav {
width: 100%; 
}

}


@media(max-width: 800px){
#resume header h2 {
font: normal 600 2em "americane", sans-serif; 
}

#resume header p:first-of-type {
font: normal 400 1em "adelle-mono", monospace;
}

}


@keyframes scrollingAnimation {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(100%);
  }
}